blinker==1.4
certifi==2017.11.5
chardet==3.0.4
cloudpickle==0.5.2
docutils==0.14
doit==0.30.3
idna==2.6
Logbook==1.1.0
lxml==4.1.1
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
natsort==5.1.1
Nikola==7.8.10
olefile==0.44
piexif==1.0.13
Pillow==4.3.0
Pygments==2.2.0
pyinotify==0.9.6
PyRSS2Gen==1.1
python-dateutil==2.6.1
requests==2.18.4
six==1.11.0
Unidecode==0.4.21
urllib3==1.22
webassets==0.12.1
Yapsy==1.11.223
